{{> head }}

   
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>About WebServer - NODE</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptas assumenda similique expedita tempore. Iste voluptas eum sint alias quibusdam reprehenderit veritatis exercitationem magni. Fuga placeat corrupti sunt maiores enim?
        </p>
    </div>
    <div class="col-4">
        <img src="/assets/img/lobo.png" class="img-thumbnail">
    </div>
</div>


{{> footer }}    